<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.StudentDao">

    <resultMap id="student" type="com.example.demo.entity.Student">
        <id column="sno" property="id"/>
        <result column="sname" property="name"/>
        <result column="math" property="math"/>
        <result  column="english" property="english"/>
        <result column="c++" property="c"/>
        <result column="total" property="total"/>
    </resultMap>

    <select id="getStudent" resultMap="student">
        select sc.sno,sname,
        sum(case cname when 'math' then score else 0 end) as math,
        sum(case cname when 'english' then score else 0 end) as english,
        sum(case cname when 'c++' then score else 0 end) as 'c++',
        sum(score) as total
        from stu,sc,course
        where stu.sno=sc.sno and sc.cno=course.cno
        group by sno,sname
        order by total desc;
    </select>

</mapper>